<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <title>HowsTheWeatherAngular</title>
</head>

<body ng-app="HowsTheWeather">
  <div id="container" ng-controller="WeatherCtrl as weather">
    <div id="app">
      <h1>How's the weather?</h1>
      <input placeholder={{weather.placeholder}} ng-model="weather.zipcode" ng-keypress="weather.addWeather($event)">
      <div id="list">
        <div class="entry" ng-repeat="weatherEntry in weather.entries track by $index">
          <p ng-click="weather.toggleUnit($index)" >
            It is currently {{weatherEntry.weather}}{{weatherEntry.unit}} in {{weatherEntry.city}}.
          </p>
        </div>
      </div>
    </div>
  </div>


  <script src="js/app.js"></script>
  <script src="js/weatherService.js"></script>
  <script src="js/weatherController.js"></script>
</body>
</html>
